:root {
    --headfootbackground: powderblue;
    --headfootfont: black;
    --navhead-color: cadetblue; /* Match anything else? If not, delete. */
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: antiquewhite;
}

header {
    padding: 60px;
    text-align: left;
    color: var(--headfootfont);
    background-color: var(--headfootbackground);
    font-size: 30px;
}

nav {
    text-align: right;
    background-color: var(--navhead-color);
    font-size: 25px;
    padding: 10px;
    border: 10px;
}

nav li {
    display: inline-block;
    padding: 15px;
}

/* Need to decide colors later!  */
/* Link varieties */
a:link {
    color: darkblue;
}
  
a:visited {
    color: red;
}
  
a:hover {
    color: hotpink;
    cursor: pointer;
}
  
a:active {
    color: blue;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

/* Will reformat since moved 'Contact me'  */
footer {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
    padding: 10px;
    color: var(--headfootfont);
    background-color: var(--headfootbackground);
}

footer li {
    display: inline-block;
    padding: 15px;
}