:root {
    --headfootbackground: powderblue;
    --headfootfont: black;
    --navhead-color: cadetblue; /* Match anything else? If not, delete. */
}

* {
    box-sizing: border-box;
}

/* Need to decide colors later!  */
/* Link varieties */
a:link {
    color: darkblue;
}
  
a:visited {
    color: darkred;
}
  
a:hover {
    color: hotpink;
    cursor: pointer;
}
  
a:active {
    color: blue;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: antiquewhite;
    line-height: 25px;
}

header {
    padding: 60px;
    text-align: left;
    color: var(--headfootfont);
    background-color: var(--headfootbackground);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header li {
    font-size: 30px;
}

main {
    margin: 30px;
}

main section {
    margin-bottom: 40px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

nav li {
    display: inline-block;
    padding: 15px;
}

.about img {
    width: 13%;
    height: 13%;
    padding: 10px;
    border: 5px solid black;
}

.phone::before {
    content: "📞 ";
}

.email::before {
    content: "📧 ";
}

.github::before {
    content: "📂 ";
}

.linkedin::before {
    content: "👔 ";
}

/* Will reformat since moved 'Contact me'  */
footer {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
    padding: 10px;
    color: var(--headfootfont);
    background-color: var(--headfootbackground);
}

footer li {
    display: inline-block;
    padding: 15px;
}

