:root {
    --headfootbackground: powderblue;
    --headfootfont: black;
}

* {
    box-sizing: border-box;
}

/* Need to decide colors later!  */
/* Link varieties */
a:link {
    color: darkblue;
}
  
a:visited {
    color: darkred;
}
  
a:hover {
    color: hotpink;
    cursor: pointer;
}
  
a:active {
    color: blue;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: antiquewhite;
    line-height: 25px;
}

header {
    padding: 60px;
    text-align: left;
    color: var(--headfootfont);
    background-color: var(--headfootbackground);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header li {
    font-size: 30px;
}

main {
    margin: 30px;
}

main section {
    margin-bottom: 40px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

nav li {
    display: inline-block;
    padding: 15px;
}

p {
    margin-bottom: 20px;
}

.about,
.work,
.contact,
.resume {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.about img {
    width: 15%;
    height: 15%;
    padding: 10px;
    border: 5px solid black;
}

.working {
    width: 40%;
    height: 40%;
    padding: 10px;
    border: 5px solid black;
}

/* Will add more images and therefore classes to this section as we go */
.odontogram {
    width: 20%;
    height: 20%;
    padding: 10px;
    border: 5px solid black;
}

figcaption {
    font-size: 10px;
    font-style: italic;
}

.phone::before {
    content: "📞 ";
}

.email::before {
    content: "📧 ";
}

.github::before {
    content: "📂 ";
}

.linkedin::before {
    content: "👔 ";
}

/* Will reformat since moved 'Contact me'  */
footer {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
    padding: 10px;
    color: var(--headfootfont);
    background-color: var(--headfootbackground);
}

footer li {
    display: inline-block;
    padding: 15px;
}

@media screen and (max-width: 992px) {
    header,
    footer {
      background-color: darkolivegreen;
    }
  }
  
  @media screen and (max-width: 768px) {
    header,
    footer {
      background-color: gray;
    }
  }